@import './main';

.about {

    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;

    @include respond(phone) {
        flex-direction: column;
        margin-bottom: 5rem;
    }



    &__info {
        
        display: flex;
        
        flex-direction: column;
        flex: 0 0 47.5%;
        
        height: 50vh;
        padding: 3rem;
        
            h3 {
                font-size: 4rem;
                margin-top: 20%;
                text-transform: uppercase;

                @include respond(phone) {
                    text-align: center;
                }
            }

            p {
                margin-top: 5%;
                font-size: 1.5rem;

            }

            @include respond(tab-land) {

                height: 40vh;

                h3 {
                    font-size: 3.5rem;
                    
                }
            }

            @include respond(tab-port) {

                height: 30vh;

                h3 {
                    font-size: 2.5rem;
                }
            }

            @include respond(phone) {

               height: 20vh;
               padding: .5rem;

               h3 {
                   font-size: 1.6rem;
                   margin-top: 0;
               }

               p {
                   font-size: 1.3rem;
               }

                
            }
    }

    &__images {

        flex: 0 0 47.5%;
        z-index: 1;
        
        height: 50vh;
        position: relative;
        padding: 3rem;
        margin-top: 5rem;
        
        @include respond(phone) {
            padding: 2rem;
            margin-top: 10rem;
         }
    }

            @include respond(tab-land) {
                height: 40vh;
            }

            @include respond(tab-port) {

                height: 30vh;
                margin-top: 2rem;
            }
        
    }


.composition {

    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;

        @include respond(tab-port) {
            float: left;
            position: relative;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
        }

        @include respond(phone)  {
           width: 40%;
        }

        &--p1 {
            left: 0;
            top: -2rem;

            @include respond(tab-port)  {
                top: 0;
            }

            @include respond(phone)  {
                top: 0;
                left: 10%;
            }
        }

        &--p2 {
            right: 0;
            top: 2rem;

            @include respond(tab-port)  {
                top: -3rem;
                left: 5rem;
                z-index: 15;
            }
            @include respond(phone)  {
                top: 7rem;
                left: -5rem;
            }
        }

        &--p3 {
            left: 20%;
            top: 10rem;

            @include respond(tab-port)  {
                top: -26rem;
                left: 14rem;
            }

            @include respond(phone)  {
                left: 1.5rem;
                top: -9rem;
            }
        }

        &:hover {
            outline: 1rem solid $primary-blue;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;

            @include respond(phone)  {
                transform: none;
                outline: none;
                box-shadow: 0;
            }
        }

    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);

        @include respond(phone)  {
            transform: none;
        }
    }
    //composition:hover composition__photo:not(:hover) {
}

