@import './main';
.highlights {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__heading {
        @include respond(phone) {
            margin-top: 10vh;
        }
    }

    &__video {

        width: 80%;
        height: 70vh;

        @include respond(phone) {
            height: 25vh;
            width: 100%;
        }
        @include respond(tab-land) {
            height: 40vh;
            width: 90%;
        }

    }

    &__credit {

        border: .5px solid $primary-blue;
        width: 80%;
        padding: 3px;
        font-size: 2rem;

        @include respond(phone) {
            width: 100%;
        }
        @include respond(tab-land) {
            width: 90%;
        }
    }
}