@import './main';

.live {

    padding-top: 15rem;

    &__score {

        margin: 0 auto;
        width: 90%;
        font-weight: 500;
        background-color: $color-white;


            &-time {
                display: flex;
                justify-content: space-between;
                padding: 2rem;
                font-size: 1.4rem;
            }


            &-teams{
                display: flex;
                justify-content: space-between;
                font-size: 2.5rem;

                &--leeds {
                    width: 20%;

                    @include respond(phone){
                        width: 40%;
                        font-size: 80%;
                }
                    
                    img {
                        display: flex;
                        margin: 0 auto;
                        width: 50px;
                    }

                    div {
                        text-align: center;
                    }
                }

                &--opposition {
                    width: 20%;

                    @include respond(phone){
                            width: 40%;
                            font-size: 80%;
                    }
                    img {
                        display: flex;
                        margin: 0 auto;
                        width: 50px;
                    }

                    div {
                        text-align: center;

                        @include respond(phone){
                            
                        }
                    }

                }
            }

            &-scorers {

                display: flex;
                justify-content: space-between;
                padding: 2rem;
               
            }

            &-info {
                font-size: 1.5rem;
                text-align: center;
            }

    }


    &__stats {

        margin: 5rem auto;
        background-color: $color-white;
        width: 80%;
        display: flex;
        justify-content: space-between;
        font-size: 2rem;


        &-leeds {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            

            & * {
                
                font-weight: 600;
                margin: 1rem;
                text-align: center;
            }

            img {
                width: 20px;
                margin: -3px;
            }
        }


        &-static {
            display: flex;
            flex-direction: column;
            padding: 0;
            

            & * {
                margin: 1rem 0;
                text-align: center;
                font-weight: 600;
            }

            & div:first-child {
                text-transform: uppercase;
                margin-bottom: 1.8rem;
            }


        }

        &-opposition {

            display: flex;
            flex-direction: column;
            padding: 1rem;

            & * {
                margin: 1rem;
                font-weight: 600;
                text-align: center;
            }

            img {
                width: 20px;
                margin: -3px;
            }
        }

    }
}

.football-logo {
    font-size: 220%;
    margin-left: -7px;
}