@import './main';

.partners {

    display: flex;
    justify-content: space-between;

    @include respond(tab-port) {
        height: 15vh;
    }

    @include respond(phone) {
        height: 10vh;
     }

    &__item {
       
        width: 20%;

        @include respond(phone) {
            width: 22.5%;
         }

            img {
                background-size: contain;
                background-repeat: no-repeat;
                width: 100%;
            }
    }
}