@import './main';

.products {

    &__items {

        border-radius: $border-radius;
        margin-left: 10%;
        position: relative;

        span { 
            display: block;
            opacity: 0;
            position: absolute;
            top: 90%;
            width: 80%;
            text-align: center;
            transition-property: top, opacity;
            transition: $animation;
            transition-delay: 0s;
         }

        .title {
            text-transform: uppercase;
        }

        &:focus,
        &:hover { 
            &:before,
            span {
                opacity: 1;
                display: block;
            }
            
            &:before {
                top: 50%;
            }
            
            span {
                top: 77.5%;
                position: absolute;
                width: 80%;
                text-align: center;
                color: $color-white;
                z-index: 4;
            }
            
                .title {
                    transition-delay: 0.15s;
                    font-weight: 600;
                    font-size: 3.5rem;
                    text-transform: uppercase;
                }
                
                .info {
                    transition-delay: 0.20s;
                    font-size: 2rem;
                    top: 87%;
                }
         }

             & img {
                 
                width: 80% !important;
                border-radius: $border-radius;
                position: relative;
                background-size: cover;
                background-position: center;
                cursor: pointer;
                   
                &:hover {
                    filter: brightness(50%);
                }


             }

        }
    }

.slick-prev:before, .slick-next:before {
    color: $primary-blue;
}

.slick-slider {

    @include respond(tab-land)  {
        width: 90%;
        margin: auto;
    }
}