@import './main';

.products {

    &__items {

         a {&:hover { 
             text-decoration: none;
            }
            &:hover img {
                filter: brightness(65%);
            }}

        margin-left: 10%;
        position: relative;

        &:hover .purchasing div{
            background-color: #fff;
            color: $primary-blue;
            text-decoration: none;
            border-left: 1px solid $primary-blue;
        }

        span { 
            
            display: block;
            opacity: 0;
            position: absolute;
            top: 90%;
            width: 80%;
            text-align: center;
            transition-property: top, opacity;
            transition: $animation;
            transition-delay: 0s;
         }

        .title {
            text-transform: uppercase;
        }

        .purchasing {
            display: flex;
            border: 1px solid $primary-blue;
            width: 80%;

            p {
                background-color: #fff;
                font-size: 180%;
                font-weight: 600;
                width: 50%;
                padding: .5rem;
                text-align: center;
            }

            div {
                width: 50%;
                background-color: $primary-blue;
                transition: .4s all;
                color: white;
                padding: .5rem;
                font-size: 180%;
                border: none;
                text-align: center;
                text-decoration: none;
            }

        }

        &:focus,
        &:hover { 
            &:before,
            span {
                opacity: 1;
                display: block;
            }
            
            &:before {
                top: 50%;
            }
            
            span {
                top: 77.5%;
                position: absolute;
                width: 80%;
                text-align: center;
                color: $color-white;
                z-index: 4;
            }
            
                .title {
                    transition-delay: 0.15s;
                    font-weight: 600;
                    font-size: 2rem;
                    text-transform: uppercase;
                }
         }

             & img {
                 
                width: 80% !important;
                border-radius: $border-radius;
                border-bottom-left-radius: none;
                border-bottom-right-radius: none;
                position: relative;
                background-size: cover;
                background-position: center;
                cursor: pointer;
             }

        }
    }

.slick-prev:before, .slick-next:before {
    color: $primary-blue;
}

.slick-slider {

    @include respond(tab-land)  {
        width: 90%;
        margin: auto;
    }
}