@import './main';
.news__articles {

    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-item {
        
        height: 40vh;
        width: 45%;
        max-width: 100%;
        background-position: center;
        background-size: cover;
        &:nth-child(3){
            margin: 5% 0;
        }
        &:nth-child(4){
            margin: 5% 0;
        }

        @include respond(phone){
            width: 100%;
            margin: 5% 0;
         }

        &-overlay { @include imageOverlay; }

        &:hover &-overlay{ opacity: .8; }

        &-text {

            width: 70%;

            @include absCenter;
            color: $color-white;

            h3 {
                font-size: 3rem;
                padding-bottom: 2rem;
            }

            p {
                font-size: 1.7rem;
            }
        }

    }

    &-btn {

        display: flex;
        justify-content: center;
        margin-top: 3rem;
        font-size: 3rem;
    }


}
.btn-inverse {

    @include btnStyles;

    background-color: $color-white;
    color: $primary-blue;
    border: $border-1px;

    &:hover {

        letter-spacing: 1px;
        text-decoration: none;

        box-shadow: 3px 5px 5px rgba(105, 105, 105, 0.315);
        background-color: $primary-blue;
        color: $color-white;

    }
}